body {
  background-image:url("https://scontent-waw1-1.xx.fbcdn.net/v/t31.0-8/26952229_1822021228098425_3864401168064799195_o.jpg?oh=508d62affec54b96f7bd1737c2883c49&oe=5AE26DBA");
}
h2 {
  color:green;
}
h1 {
  color:white;
}
.zdj:hover {
 height:500px;
}
