body {
    margin: 0;
    color: #efefef;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

.hello {
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#topbar {
    background-color: #128870;
    height: 100px;
    width: 1000px;
}

#content {
    float: left;
    background-color: pink;
    width: 500px;
}

#menuR {
    float: left;
    background-color: yellow;
    width: 500px;
}
