body {
  background-image:url("https://www.justinmcclure.com/-/images/53555b2751f80f6017000009/-/scale_crop/580x340/center/X-Files-Comes-to-Chiller.jpg");
  background-repeat: repeat;
}
h1 {
  color:white;
}
p {
  color:white;
}
